body {
    background: url('https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.pagetitle {
    margin-top: 6rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 700;
}

.maintext {
    font-size: 30px;
    color: white;
    font-weight: 800;
    text-align: center;
}

.headtitle {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}

.mid {
    left: 17rem;
    top: 80px;
    position: absolute;
    /* right : 34px; */
    display: inline-block;
}

.right {
    position: absolute;
    right: 16.5rem;
    top: 110px;
    display: inline-block;
}

.navbar li {
    display: inline-block;
    padding: 20px 20px;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    color: rgb(8, 1, 1);
    background-color: grey;
    text-decoration: none;
}

.btn {
    background-color: black;
    color: white;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 22px;
}

.btn:hover {
    background-color: white;
    color: black;
    font-weight: 600;

}

.container {
    box-shadow: 5px 10px 5px black;
    border-style: solid;
    border-color: white;
    border-width: 8px;
    margin-left: auto;
    align-items: center;
    margin-top: 5rem;
    margin-right: auto;
    padding: 55px;
    width: 33%;
    margin-bottom: 2rem;

}

.form input {
    text-align: center;
    display: block;
    padding: 4px;
    border: 2px solid white;
    margin: 8px auto;
    border-radius: 22px;
    width: 300px;
}

.container h1 {
    text-align: center;
}

.container button {
    width: 150px;
    margin-left: 80px;
    text-align: center;
    display: block;
    /* margin: auto; */
}

.aboutus {
    padding: 70px;
    text-align: center;
    background-color: black;
    color: white;
}

.abttitle {
    color: white;
    font-weight: 600;
    margin-top: -2rem;
    margin-bottom: 2rem;
}


@media only screen and (max-width:700px) {
    .container {
        box-shadow: 5px 10px 5px black;
        border-style: solid;
        border-color: white;
        border-width: 8px;
        margin-left: auto;
        align-items: center;
        margin-top: 5rem;
        padding-top: 2rem;
        margin-right: auto;
        padding: 0px;
        width: 80%;
        margin-bottom: 2rem;

    }

    .maintext {
        font-size: 20px;
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 800;
        text-align: center;
    }

    

    .container button {
        width: 100px;
        margin-left: 108px;
        text-align: center;
        display: block;
        margin-bottom: 1rem;
        /* margin: auto; */
    }

    .form input {
        text-align: center;
        display: block;
        padding: 4px;
        border: 2px solid white;
        margin: 9px auto;
        border-radius: 22px;
        width: 80%;
    }

}
.footer {
    background: #282727;
    padding: 1rem 7%;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
}

.footer .box-container .box p {
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
}

.footer .box-container .box a {
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box a:hover {
    color: var(--yellow);
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: var(--yellow);
}

.footer .credit {
    font-size: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(255, 255, 255, .7);
    padding: 2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: #fff;
}

.footer .credit a {
    color: var(--yellow);
}
:root {
    --yellow: #F7CA3E;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

h1,
h3 {
    font-family: 'Oswald', sans-serif;
}

*::selection {
    background: var(--yellow);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    /* height:200rem; */
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

section {
    min-height: 100vh;
    padding: 1rem 10%;
    padding-top: 8.5rem;
}

.btn {
    font-size: 1.7rem;
    padding: .7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background: none;
    color: #333;
    cursor: pointer;
    border: .2rem solid var(--yellow);
}

.btn:hover {
    background: var(--yellow);
}

.heading {
    text-align: center;
    font-size: 4rem;
    padding: 0 .5rem;
    color: #333;
}

.heading span {
    color: var(--yellow);
}
section {
    min-height: 100vh;
    padding: 1rem 10%;
    padding-top: 8.5rem;
}



.heading {
    text-align: center;
    font-size: 4rem;
    padding: 0 .5rem;
    color: #333;
}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 5rem;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin-left: 3rem;
}

header .navbar ul li a {
    font-size: 1.7rem;
    color: #666;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: var(--yellow);
}

header #menu-bar {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.home::before,
.home::after {
    content: '';
    position: absolute;
    top: 5rem;
    right: -6rem;
    background: var(--yellow);
    border-radius: 3rem;
    transform: rotate(-45deg);
    height: 40rem;
    width: 70rem;
    z-index: -2;
    animation: animte 1s linear 1;
}

@keyframes animte {
    0% {
        transform: rotate(45deg) translateY(-40rem);
    }
}

.home::before {
    top: -7rem;
    background: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .1);
    z-index: -1;
}

.home .image {
    flex: 1 1 39rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 39rem;
}

.home .content h3 {
    color: #333;
    font-size: 6rem;
}

.home .content p {
    color: #666;
    font-size: 2rem;
    padding: 1rem 0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}